/* cyberpet style sheet */
/* global */
* {
    box-sizing : border-box;
    -moz-box-sizing : border-box;
    margin: 0;
    padding: 0;
    border: 0;
}
h1, h5{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}


body{
    background-color: rgb(31, 31, 31);
    overflow: hidden;
}
div{
    border: rgb(255, 0, 0) solid 1px;
}
.space{
    height: 2vh;
    
}
img{
    object-fit: scale-down;
}
/* main container */

#main-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

/* content */

#div-tital{
    display: flex;
    height: 20vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(31, 31, 31);
}

#div-center{
    display: flex;
    height: 55vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(190, 190, 190);
   
}
    #div-pet{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-start;
        width: 70vw;
        height: 50vh;
        box-shadow: grey 1px 1px 10px 5px;
        border-radius: 10px;
    }
        #div-petimg{
            display: flex;
            justify-content: space-around;
            height: 100%;
            width: 30vw;
        }
        #div-petcontent{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            width: 40vw;
            
            
        }

            #div-info{
                display: flex;
                justify-content: space-evenly;
                flex-direction: column;
                height: 30vh;
                align-items: center;
            }

            label{
                font-size: large;
                font-family: Arial, Helvetica, sans-serif;
            }
            select{
                font-size: large;
                font-family: Arial, Helvetica, sans-serif;
                border-radius: 10px;
                width: 300px;
                height: 50px;
                box-shadow: grey 1px 1px 1px 1px;
                text-align: center;
           
            }
            input{
                font-size: large;
                font-family: Arial, Helvetica, sans-serif;
                border-radius: 10px;
                width: 300px;
                height: 50px;
                box-shadow: grey 1px 1px 1px 1px;
                text-align: center;
            }
            /* buttons */

            #div-buttons{
                display: flex;
                
                justify-content: space-evenly;
                align-items: center;
            }
                button{
                    width: 200px;
                    height: 50px;
                    border-radius: 10px;
                    border: grey solid 2px;
                    font-size: large;
                    font-family: Arial, Helvetica, sans-serif;
                    box-shadow: grey 1px 1px 1px 1px;
                }

            /* out put div */
            #levelOutput{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                padding-top: 20px;
                height: 8vh;

            }
            .levelDiv{
                text-align: center;
            }

#div-footer{
    display: flex;
    height: 24vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(31, 31, 31);
}


